html, body, .container {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    background-color: #333;
}

h2 {
    background-color: #FFF;
    margin-top: 0px;
    padding: 2%;
    margin-bottom: 0px;
    text-align: center;
}

.list > ul {
    list-style-type: none;
    padding-bottom: 5%;
    padding-left: 3px;
    color:#FFF;
    padding-left: 10px;
}
.list p {
    color: #FFF;
    padding-left: 10px;
}
.list p > input {margin-top: 10px;}
.map-box{
    position: relative;
    overflow: hidden;
    height: 100%;
    left:200px;
}
.mapEdit{
    height: 100%;
    left:0px;
    position: absolute;
    right: 0px;
    overflow: hidden;
}
.location:hover {
    background-color: green;
}
nav {width: 200px; position: absolute;}
nav.open {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}